<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caf.readyqtv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.caf.readyqtv.Logo01"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="main01"></activity>
        <activity android:name="event01"></activity>
        <activity android:name="event02"></activity>
        <activity android:name="contents01"></activity>
        <activity android:name="setting01"></activity>
        
        <activity android:name="mainpopup"
                  android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="event03"></activity>
        <activity android:name="event03_popup" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="more_main"></activity>
        <activity android:name="contents01_tab_home"></activity>
        <activity android:name="contents01_tab_place"></activity>
        <activity android:name="contents01_tab_item"></activity>
        <activity android:name="store_main01"></activity>
        <activity android:name="store_starshop01"></activity>
        <activity android:name="store_coinshop01"></activity>
        <activity android:name="com.caf.readyqtv.store_ticketshop01"></activity>
        <activity android:name="store_ticketshop01_popup01" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="store_buy_complete_popup" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="com.caf.readyqtv.quiz01"></activity>
        <activity android:theme="@android:style/Theme.Dialog" android:name="quiz_option_popup"></activity>
        <activity android:name="more_account"></activity>
        <activity android:name="more_account_login"></activity>
        <activity android:name="more_account_signup"></activity>        
    </application>

</manifest>